/* base styles */
.document {
  max-width: 1020px;
  margin: auto;
  font-family: 'FantasqueSansMonoRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  color: #333;
}

.document img {
  max-width: 1020px;
  display: block;
  margin: auto;
  padding: 2px;
}

h1 {
  text-align: center;
  margin-bottom: 0;
}

img {
  display: inline-block;
}

.metadata {
  color: #555;
  font-size: 14px;
  text-align: center;
}

/* editor styles */
body {
  transform-origin: 0 0;
  min-width: 1020px;
}

.images-group {
  font-size: 0;
}

.images-group img {
  display: inline-block;
  padding: 2px;
}
