/* base styles */
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  overflow: auto !important;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.document {
  max-width: 1020px;
  margin: auto;
  font-family: 'FantasqueSansMonoRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  color: #333;
}

.edit {
  display: flex;
  height: 100vh;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.edit-columns {
  flex:1;
  display:flex;
  overflow:auto;
}

.toolbar {
  width: 100%;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

.editor {
  flex: 1;
}

.ace_editor {
  flex: 1;
  border: none;
}

.preview {
  flex: 1;
}

iframe.preview {
  border: 0;
  border-left: 1px solid #ccc;
}

h1 {
  text-align: center;
  margin-bottom: 0;
}

img {
  display: inline-block;
}

.metadata {
  color: #555;
  font-size: 14px;
  text-align: center;
}

.dropTarget {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 18px;
  align-items: center;
  display: none;
  background-color: #0000aacc;
  color: #fff;
  z-index: 10;
}

.dropTarget > div {
  margin: auto;
}
