/* base styles */
.document {
  max-width: 820px;
  margin: auto;
  font-family: 'FantasqueSansMonoRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  color: #333;
}

.edit {
  display: flex;
  height: 100vh;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.columns {
  flex:1;
  display:flex;
  overflow:auto;
}

.toolbar {
  width: 100%;
}

.editor {
  flex: 1;
}

.ace_editor {
  flex: 1;
}

.preview {
  flex: 1;
}

iframe.preview {
  border: 0;
  border-left: 1px solid #ccc;
}

h1 {
  text-align: center;
  margin-bottom: 0;
}

img {
  display: inline-block;
}

.metadata {
  color: #555;
  font-size: 14px;
  text-align: center;
}
