{% extends "base.html" %}

{% block title %}Edit Page{% endblock %}

{% block head_tags %}
  <link rel="stylesheet" href="{{ static_web_path }}css/edit.css">
{% endblock %}
{% block body_class %}edit{% endblock %}
{% block content %}

<div class="toolbar">
  <nav class="level">
    <div class="level-left">
      <div class="level-item">
        <div class="control has-addons" >
          <button id='public' type="button" class="button {% if access == 'public' %}is-primary{% endif %}">Public</button>
          <button id='limited' type="button" class="button {% if access == 'limited' %}is-primary{% endif %}">Limited</button>
          <button id='private' type="button" class="button {% if access == 'private' %}is-primary{% endif %}">Private</button>
        </div>
      </div>
    </div>
    <div class="level-right">
      <div id="uploading" class="level-item" style="display: none">
        <span id="upload_text"></span>
        <progress id="progress" class="progress is-small" value="0" max="100">
      </div>
      <div class="level-item">
        <a href="preview/" target="preview" class="button is-link">Preview</a>
        <button id="publish" type="button" class="button is-success">Publish</button>
      </div>
    </div>
  </nav>
</div>

<div class="edit-columns">
  <div class="editor-column">

    <div id="dropTarget">
      <div class="message is-info" >
        <div class="message-header">Drop images here!</div>
        <div class="message-body">
          Drop files here to begin uploading.
        </div>
      </div>
    </div>

    <textarea class="editor" id="ace_editor">{{ data }}</textarea>
    <div class="status">&nbsp;
      <strong>Saved:</strong> <span id="last_saved">{{ last_saved }}</span>
    </div>
  </div>
  <div class="preview-column">
    <iframe src="{{ web_path }}kodiak/edit/{{ id }}/preview/" name="preview_frame" id="preview" class="preview"></iframe>
    <div class="status">&nbsp;
      <strong>Published:</strong> <span id="published">{{ published_date }}</span>
    </div>
  </div>
</div>
<form id="preview_form" action="{{ web_path }}kodiak/edit/{{ id }}/save/" method="post" target="preview_frame">
  <input id="rst" name="rst" type="hidden" value="" />
  <input id="access" name="access" type="hidden" value="{{ access }}" />
  <input id="preview_width" name="preview_width" type="hidden" value="" />
</form>
{% endblock %}

{% block scripts %}
<script>
  theme_width = {{ theme_width }};
  upload_path = '{{ web_path }}kodiak/upload/';
</script>
<script src="{{ static_web_path }}js/ace/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ static_web_path }}js/edit.js"></script>
{% endblock %}
