{% extends "base.html" %}
{% block title %}All Pages{% endblock %}

{% block content %}
  <nav class="nav has-shadow">
    <div class="nav-left nav-menu">
      <a class="nav-item is-active is-tab" href="{{ web_path }}kodiak/">All Pages</a>
      <a class="nav-item is-tab" href="{{ web_path }}kodiak/new/">New Page</a>
    </div>
    <div class="nav-right nav-menu">
      <a class="nav-item" href="{{ web_path }}kodiak/logout/">Logout</a>
    </div>
  </nav>
  <section class="section">
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Published</th>
          <th>Updated</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for page in pages %}
        <tr>
          <td>{{ page.title }}</td>
          {% if page.published %}
            <td {% if page.is_outdated() %} class="notification is-warning" {% endif %}>
              {{ page.published.strftime('%m/%d/%y at %I:%M%p') }}
            </td>
          {% else %}
            <td>never</td>
          {% endif %}
          <td>{{ page.updated.strftime('%m/%d/%y at %I:%M%p') }}</td>
          <td><a href="{{ web_path }}kodiak/edit/{{ page.id }}/">Edit</a></td>

          {% if page.published %}
            <td><a href="{{ web_path }}{{ page.view_url() }}">View</a></td>
          {% else %}
            <td></td>
          {% endif %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock %}
