/* base styles */
.document, .footer {
  max-width: 1020px;
  margin: auto;
  font-family: 'FantasqueSansMonoRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  color: #333;
}

.document img {
  max-width: 1020px;
  display: block;
  margin: auto;
}

.footer {
  text-align:center;
  margin: 20px auto;
}

a, a:visited {
  text-decoration: none;
  color: #007700;
}

a:hover, a:active {
  text-decoration: underline;
  color: #009900;
}


h1 {
  text-align: center;
  margin-bottom: 0;
}


p {
  text-indent: 2em;
  margin-left: 10px;
  margin-right: 10px;
}

.metadata {
  color: #555;
  font-size: 14px;
  text-align: center;
}

img {
  display: inline-block;
  padding: 2px 0;
  cursor: pointer;
  width: 100%;
}
img::before {
  content:attr(alt);
}
.images-group img {
  display: inline-block;
  width:100%;
}

@media (min-width:1020px) {
  .document > img {
    width: calc(100% - 20px)
  }

  .images-group {
    font-size: 0;
    margin: auto;
    width: 1000px;
  }

  .images-group img {
    padding: 2px 0;
    padding-right: 4px;
    width: auto;
  }

  .images-group img.last {
    padding-right: 0px;
  }
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,.8);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'FantasqueSansMonoRegular';
}

.modal img {
  max-width: 90vw;
  max-height: 85vh;
  display: block;
  padding: 0;
}

.modalContent {
  margin: auto;
  align-self: flex-start;
  background-color:#fff;
  padding: 3px;
  border-radius: 4px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.modalCaption {
  background-color: #fff;
  text-align: center;
  padding: 10px;
}

.modalClose {
  position: absolute;
  right: 20px;
  top: 0px;
  color: #555;
  font-size: 50px;
  cursor: pointer;
}

.modalClose:hover {
  color: #fff;
}

.is-hidden {
  display: none;
}
