{% extends "base.html" %}

{% block body_class %}edit{% endblock %}
{% block content %}
<div class="toolbar">
  <button>Public</button>
  <button>Private</button>
  <button>Limited</button>
  Last Saved: never
  <button>Preview</button>
  <button>Publish</button>
  <button>Unpublish</button>
  <button>Delete</button>
</div>
<div class="columns">
  <textarea class="editor" id="ace_editor">{{ data }}</textarea>
  <iframe src="/edit/{{ id }}/preview/" name="preview_frame" id="preview" class="preview"></iframe>
</div>
<form id="preview_form" action="/edit/{{ id }}/save/" method="post" target="preview_frame">
  <input id="rst" name="rst" type="hidden" value="" />
  <input id="preview_width" name="preview_width" type="hidden" value="" />
</form>
{% endblock %}

{% block scripts %}
<script src="/static/js/ace/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/kodiak.js"></script>
{% endblock %}
