{% extends "base.html" %}

{% block head_tags %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.1.2/css/bulma.css">
{% endblock %}
{% block body_class %}edit{% endblock %}
{% block content %}
<div id="dropTarget" class="dropTarget">
  <div>Drop images to begin uploading</div>
</div>
<div class="toolbar">
  <nav class="level">
    <div class="level-left">
      <!--
      <div class="level-item">
        <div class="control has-addons" >
          <button type="button" class="button">Public</button>
          <button type="button" class="button is-primary">Limited</button>
          <button type="button" class="button">Private</button>
        </div>
      </div>
      -->
      <div class="level-item">
        Saved: <span class="tag is-info" id="last_saved">{{ last_saved }}</span>
      </div>
      <div class="level-item">
        Published: <span class="tag is-success" id="published_date">{{ published_date }}</span>
      </div>
    </div>
    <div class="level-right">
      <div id="uploading" class="level-item" style="display: none">
        <span id="upload_text"></span>
        <progress id="progress" class="progress is-small" value="0" max="100">
      </div>
      <div class="level-item">
        <a href="preview/" target="preview" class="button is-link">Preview</a>
        <button id="publish" type="button" class="button is-success">Publish</button>
      </div>
    </div>
  </nav>
</div>

<div class="edit-columns">
  <textarea class="editor" id="ace_editor">{{ data }}</textarea>
  <iframe src="/kodiak/edit/{{ id }}/preview/" name="preview_frame" id="preview" class="preview"></iframe>
</div>
<form id="preview_form" action="/kodiak/edit/{{ id }}/save/" method="post" target="preview_frame">
  <input id="rst" name="rst" type="hidden" value="" />
  <input id="preview_width" name="preview_width" type="hidden" value="" />
</form>
{% endblock %}

{% block scripts %}
<script src="/static/js/ace/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/kodiak.js"></script>
{% endblock %}
